[submodule "meta-nylon"]
	path = meta-nylon
	url = git@github.com:NylonOS/meta-nylon.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "poky"]
	path = poky
	url = git@github.com:legatoproject/poky.git
	branch = kirkstone
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "openembedded-core"]
	path = openembedded-core
	url = git@github.com:openembedded/openembedded-core.git
	branch = kirkstone
[submodule "bitbake"]
	path = bitbake
	url = git@github.com:openembedded/bitbake.git
[submodule "meta-openwrt"]
	path = meta-openwrt
	url = git@github.com:kraj/meta-openwrt.git
	branch = kirkstone
